*{
	padding:0px;
	margin:0px;
}
body{
	font-family: opensans;
}
.vid{
	color: white !important;
  text-shadow: 1px 1px 1px black;
  // background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
  padding: 3px;
  text-align: center;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255,255,255,0.5);
  // background-position: fixed !important;
}
.banner-image22{
	// background-image: url(../img/test.jpg);
	// background-size: 100% auto;
	// background-repeat: no-repeat;
	// height: 200px;
	background: #4995CC;
	height: 100px;
	margin-top: -20px !important;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  	display: block;
	top: 6px;
	color: #fff;
	font-size: 25px;
  	width: 100%;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.td {
	text-align: center; !important;
}
.textarea{
	max-width: 100% !important;
	width: 100% !important;
	height: 170px !important;
}

@keyframes anim-1 {
	0%, 8.3% { bounceInDown: -100%; opacity: 0; }
  8.3%,25% { bounceInDown: 25%; opacity: 1; }
  33.33%, 100% { bounceInDown: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { bounceInDown: -100%; opacity: 0; }
  41.63%, 58.29% { bounceInDown: 25%; opacity: 1; }
  66.66%, 100% { bounceInDown: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { bounceInDown: -100%; opacity: 0; }
  74.96%, 91.62% { bounceInDown: 25%; opacity: 1; }
  100% { bounceInDown: 110%; opacity: 0; }
}

table{
	width: 100%;
}
th{
	text-align: center;
	font-family: opensans;
}
td{
	text-align: center;
	font-size: 15px;
	font-family: opensans;
}
.main-banner{
	background:black;
	padding: 50px 0px;
	text-align: center;
}
.item{
	width: 100%;
	height: 500px;
	cursor: pointer;
}
.item--1{
	background-image: url(../images/connected.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	min-height: 399px;
	height: 500px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center top;
}


.item--2{
	background-image: url(../images/code.png);
	background-repeat: repeat;
	background-size: 100% auto;
	background-size: cover;
	min-height: 399px;
	height: 500px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center top;
}

.item--3{
	background-image: url(../images/e4.jpg);
	background-repeat: repeat;
	background-size: 100% auto;
	background-size: cover;
	min-height: 399px;
	height: 500px;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center top;
}

.item--4{
	background-image: url(../images/e5.jpg);
	background-repeat: repeat;
	background-size: 100% auto;
	background-size: cover;
	min-height: 399px;
	height: 500px;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center top;
}

.icon-background {
    color:white;
}
.call{
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.call:hover{
	-webkit-transform:scale(1);
	transform:scale(1);
}

.baner{
	background-image: url(../images/cont.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	height: 400px;
	background-size: cover;
	padding: 30px;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	position: relative;
}

.h1{
	margin:0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
	font-family: opensans !important;
	color: #fff !important;
	text-align: center;
}
.h2{
	color: #fff !important;
	font-weight: bold;
	font-family: opensans  !important;
}
.h21{
	color: #fff !important;
	font-family: opensans  !important;
	text-align: center !important;
	padding: 40px;
}

@media(max-width:991px){
	.h21 {
	    font-size: 20px;
	    font-family: opensans;
	    line-height: 27px;
	}
}
.p1{
	color: #fff;
	font-size: 15px;
	font-family: opensans;
}
.p2{
	color: #fff;
	font-size: 15px;
	font-family: opensans;
}
.p3{
	color: #fff;
	font-size: 15px;
	font-family: opensans;
}
// .fa-user-o:hover{
// 	color: blue !important;
// 	background: white;
// 	-webkit-transform:scale(1);
// 	transform:scale(1);
// }

// .fa-user-o{
// 	-webkit-transform:scale(1.3);
// 	transform:scale(1.3);
// 	-webkit-transition: all 0.7s ease;
// 	transition: all 0.7s ease;
// }

// .fa-envelope-open{
// 	-webkit-transform:scale(1.3);
// 	font-size: 30px;
// 	transform:scale(1.3);
// 	-webkit-transition: all 0.7s ease;
// 	transition: all 0.7s ease;
// }

// .fa-envelope-open:hover{
// 	color: blue !important;
// 	background: white;
// 	-webkit-transform:scale(1);
// 	transform:scale(1);

// }
// .fa-check{
// 	-webkit-transform:scale(1.3);
// 	transform:scale(1.3);
// 	-webkit-transition: all 0.7s ease;
// 	transition: all 0.7s ease;
// }
// .fa-check:hover{
// 	color: blue !important;
// 	background: white;
// 	-webkit-transform:scale(1);
// 	transform:scale(1);
// }
.first{
  margin:0 auto;
  height:313px;
  transition: background-image 0.7s ease-in-out;
  background-image:url(../images/first1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.first:hover {
  background-image:url(../images/efflux.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 313px;
}
.h4{
	position: absolute;
	z-index: 2;
	top: 330px;
	font-family: opensans !important;
	font-weight:bold;
}
.port{
	background-image: url(../images/outsourceit.png);
	background-size:100% auto;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}
.our{
	z-index: 2;
	position: absolute;
	top: 238px;
	height: 40px;
	width: 100px;
	right: 200px;
	border-radius: 5px;
	font-family: opensans !important;
}
.our:hover{
	background: black;
	opacity: 0.6;
}
.give{
	font-size: 15px;
	font-family: opensans !important;
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 2px;
}
footer{
	background: #000;
	height: auto;
}
.socia{
	font-size: 50px;
	color: #fff;
}
.soci{
	display: inline-block;
	margin: 10px;
}
.grid {
	// padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	// text-align: center;
}

.grid li {
	display: inline-block;
	width: 100%;
	margin: 0;
	// padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #3A54A5;
	color: #fff;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-family: opensans !important;
	color: #fff;
	text-align: center;
}

.grid figcaption span:before {
	content:;
}
.span{
	font-size: 15px;
	font-weight: bold;
	font-family: opensans !important;	
}
.grid figcaption a {
	text-align: center;
	// height: 30px;
	font-size: 10px;
	font-weight: bold;
	// width: 60px;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 15px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	cursor: pointer;
	font-family: opensans !important;
	color: #fff;
}
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.cont {
    display: inline;
    animation: color-fade 10s forwards;
}

@keyframes background-fade {
    99.9% {
        color:#E1FEE0;
    }
    100% {
        color:#000;
    }
}

.sou{
	background-image: url(../images/outsourceit.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	background-size: cover;
	height: 313px;
	width: 100%;
}
.bt{
	background: green;
	border-radius: 5px;
	color: #fff;
	height: 50px;
	width: 180px;
	font-size: 15px;
	font-family: opensans;
	border: none;
	position: absolute;
	top: 200px;
	right: 500px;
}
.at{
	text-decoration: none;
	color: #fff;
}
.at:hover{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.btn{
	background: #08d6e6;
    text-align: center !important;
    border-radius: 22px !important;
    color: #fff;
    display: block;
    font-family: "bree_serifregular";
    font-size: 17px !important;
    line-height: 20px;
    margin: 30px auto 30px auto;
    padding: 10px 30px 15px 30px !important;
    width: 31%;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .btn{
        font-size:5px;
        height: auto;
        width: auto;
    }
}


.bar{
	background-image: url(../images/3.jpg);
	background-repeat:no-repeat;
	background-size:100% auto;
	background-size: cover;
	height: 313px;
}

img {
    max-width: 100%;
    height: auto;
}
.cont-div{
	background: #fff;
	margin-left: 150px !important;
	margin-right: 150px !important;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.mission{
	text-align: center;
	font-family: Museo;
	text-transform: uppercase;
}
.sion{
	text-align: center;
	font-family: Museo;
	font-size: 20px;
}
.face{
	width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: blue;
} 
.twit{
	width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: #63cdf1;
}
.insta{
	width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background:#EA5745;
}
.din{
	width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background:#0073B1;
}
img{
	vertical-align:middle;
}
.images{
	background-image: url(../images/2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 300px;
	border: none;
}
.main_div{
	background: #fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.content{
	color: #000;
	font-family: Museo;
	font-size: 16px;
	text-align: justify;
	background: #fff;
	padding: 30px 0px;
	line-height: 25px;
}
@media(max-width:991px){
	.content {
	    font-size: 16px;
	    height: auto;
	    min-width: 50%;
	}

	.dig{
		font-size: 20px;
	}

	.fa-stack-2x{
		position: absolute;
	    left: 0;
	    width: 100%;
	    text-align: center;
	}
}
.ours{
	text-transform: uppercase;
	font-size: 40px;
	color: #000 !important;
	font-weight: bold;
	letter-spacing: 5px;
	font-family: Museo;
}
.our_logo{
	background-image: url(../images/efflux.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 300px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.big{
	font-size: 15px;
	line-height: 20px;
}
.divv{
	background:black;
	opacity: 0.6;
	height: 600px;
}
.our_logo:hover{
-webkit-transform:scale(1.3);
transform:scale(1.3);
}
#cf {
  position:relative;
  // height:281px;
  // width:450px;
  margin:0 auto;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
.folio{
	font-size: 30px;
	font-family: Museo;
	color: #000 !important;
	text-transform: uppercase;
}
.cs-style-3 figure {
	overflow: hidden;
}
.cs-style-3 figure img {
	transition: transform 0.4s;
}
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.cs-style-5 figure img {
	z-index: 10;
	transition: transform 0.4s;
}
.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	transform: scale(0.4);
}
.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	transform: scale(0.7);
	backface-visibility: hidden;
	transition: transform 0.4s, opacity 0.4s;
}
.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	transform: scale(1);
	opacity: 1;
}
.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.quote{
	 background: url(../images/quo.jpg) no-repeat;
    min-height: 399px;
    background-size: 100% auto;
    height: 400px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.form_wrap{
	text-align: left !important;
}
.your{
	padding: 30px 0;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #FCB11A;
    text-align: center;
    margin: 0px;
}
.button{
	margin-top: 30px;
    height: 40px;
    width: 190px;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-weight: 600;
    float: right;
    background-color:#77C53E;
}
// .button:hover{
//     color: #fff;
//     border: none;
//     font-weight: 600;
//     float: right;
//     background-color:green;
// }


@media(max-width:991px){
	.button {
	    margin-right: 100px;
	    margin-bottom: 20px;
	}
}
.lab{
	font-size: 15px;
	font-family: opensans;
}
.tim{
	font-size: 15px;
	font-family: opensans;
	margin-top: 20px;
}
h3{
	font-family: opensans !important;
}
.dig{
	color: #000 !important;
	text-transform: capitalize;
	font-family: opensans !important;
}
.footer {
	background-color: #000;
	padding: 4em 0px;
}
.footer p {
	text-align: center;
	color: #fff;
}
.lnk{
	font-size: 15px;
	color: #000;
	font-family: opensans;
	margin-top: 10px;
	line-height: 20px;
}
.seach{
	font-size: 40px;
	color: blue;
}
.ico{
	float: left;
	color: blue;
	font-size: 50px;
	margin-top: 10px;
	width: 14%;
}
@media(max-width:991px){
	.ico {
	    font-size: 40px;
	}

	h3{
		margin-top: 100px;
	}
}
.conten{
	float: right;
	width: 81%;
}