.error_div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	background:rgba(255,255,255,0.6);
	border-radius: 3px;
	box-shadow: 0px 0px 1px 1px #000;
	padding: 30px 40px;
}
.error_div a {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.error_div p {
	font-size: 15px;
	color: red;
	font-weight: bold;
	margin-top: 15px;
	text-transform: capitalize;
}
.error_div h2{
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
}
.error_body{
	background-color: #eee;
}

.error_icon{
	text-align: center;
	font-size: 80px;
}
.fa{
	color:red;
}