body{
	background: #fff;
}
.rw-wrapper {
    position: relative;
    padding: 0 0 0 10px;
    overflow: hidden;
}
.rw-sentence {
    margin: 0;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.rw-sentence span {
    color: #fff;
    white-space: nowrap;
    font-size: 2.8em;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 64px;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span {
    position: absolute;
    opacity: 0;
    /*overflow: hidden;*/
    color: #000000;
    -webkit-transform-origin: 10% 75%;
    transform-origin: 10% 75%;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
    text-transform: capitalize;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #B0CE2D !important;
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #B0CE2D;
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
    color: #00acee;
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #000000;
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #B0CE2D;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -ms-transform: rotate(0deg); }
	19% { opacity: 1; -ms-transform: rotate(98deg); }
	21% { opacity: 1; -ms-transform: rotate(86deg); }
	23% { opacity: 1; -ms-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -ms-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media (max-width:1080px){
	.rw-sentence span {
		font-size: 2.5em;
		line-height: 64px;
	}
}
@media (max-width:768px){
	.rw-sentence { font-size: 1em; }
}
@media (max-width:667px){
    .rw-sentence span {
		font-size: 2.2em;
		line-height: 64px;
	}
}
@media (max-width:600px){
	.rw-sentence span {
		font-size: 2em;
		line-height: 55px;
	}
}
@media (max-width:480px){
	.rw-sentence span {
		font-size:1.5em;
		line-height: 46px;
	}
}
@media (max-width:384px){
	.rw-sentence span {
		font-size: 1.5em;
		line-height: 40px;
		letter-spacing: 0px;
	}
}
@media (max-width:375px){
	.rw-sentence span {
		font-size: 1.4em;
		line-height: 40px;
		letter-spacing: 0px;
	}
}