.socal{
    font-size: 50px !important;
}
.con{
    font-size: 70px !important;
    margin-top: 250px;
}
.h3{
    font-size: 100px;
    font-family: Museo;
    margin-bottom: 250px;
    text-transform: uppercase;
    font-weight: bold;
    color:  #B0CE2D;
}
@media (max-width: 991px){
    .h3 {
        margin-bottom: 150px !important;
        font-size: 50px;
    }
    .item {
        height: 400px !important;
    }
    .con{
        margin-top: 150px !important;
    }
}
html, body{
    font-size: 100%;
    font-family: opensans;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;letter-spacing:1px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Museo;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3_agile_service_more a i{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
a:focus{
	outline:none;
}
.modal-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
}
.modal-body p {
    margin: 15px 0 10px;
    color: #888;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: center;
}
.modal-body h5 {
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    color: #00acee;
    letter-spacing: 1px;
    margin-top: 1.3em;
}
.modal-body img {
    width: 100%;
}
/*-- banner --*/
.banner {
    margin: 0 auto;
    text-align: center;
	position:relative;
   
}
.banner img {
       margin: 0 auto;
    text-align: center;
    border: 7px solid #44c7f4;
}
.banner h2 {
      font-size: 3em;
    color: #fff;
    margin: 0em 0;
    letter-spacing: 6px;
}
.banner span {
    color: #fff;
	letter-spacing:4px;
	font-size:0.9em;
	font-weight:100;
}
.slider-info p {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    margin: 0em 0 2em 0;
}
.slider-info {
    padding-top: 13em;
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner ul { position: absolute; }

.banner ul li {
  width: 100%;
  height:650px;
  float: left;
  background: no-repeat center center;
  list-style:none!important;
}

.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
          background:url(../images/1.jpg) no-repeat center center!important;
		  background-size:cover;
		  min-height:650px;
        }
       .banner ul li:nth-child(2){
          background:url(../images/2.jpg) no-repeat center center!important;
        }
		 .banner ul li:nth-child(3){
          background:url(../images/3.jpg) no-repeat center center!important;
        }

.banner ol {
    width: 84px!important;
    height: 20px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    right: 12%;
    margin-left: -40px!important;
    bottom: 70px;
    padding: 0 10px;
}
.banner ol li {
	list-style:none;
}
.banner ol li {
  width: 10px;
  height: 10px;
  float: left;
    margin:5px 5px;
    background: rgb(0, 172, 238);
  border-radius: 50%;
  cursor: pointer;
  
    overflow: hidden;
}

.banner ol .current { background: rgba(255,255,255,1); }

.banner i {
     width: 32px;
    height: 66px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
  border-radius:0px!important;
    display: none;
}

.banner .left {
  left: 60px;
  background:url(../images/left1.png) no-repeat 1px 14px;
}


.banner .right {
    right: 60px;
    background: url(../images/right1.png) no-repeat 1px 14px;
}
.banner .left:hover, .banner .right:hover { background-color: rgba(0, 0, 0, 0.31); }
/*--/banner_info --*/
.banner_wthree_agile_info {
    position: relative;
    text-align: left;
    margin: 12% auto 0;
    width: 75%;
    padding: 0 0 0 0em;
}
.wthree_more {
    padding-left: 1em;
}
.wthree_more.wthree_more2 {
    padding: 0;
}
/*--//banner_info --*/
.wthree_more a{
	    padding: 10px 10px;
    border: 1px solid #ffcc2f;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    background: #ffcc2f;
}
/* Wayra */
.button--wayra {
    overflow: hidden;
    width: 13%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    text-align: center;
    margin-top:3em;
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00acee;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color:#00acee;
}
.button--wayra.button--inverted:hover {
	color: #fff;
	border-color: #00acee;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color:#00acee;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #fff;
}
.wthree_more.wthree_more2 a {
    text-align: center!important;
}
.wthree_more.wthree_more3 {
    padding: 0;
}
.wthree_more.wthree_more3 a {
    width: 30%!important;
}
/*-- //banner --*/
.banner1{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    position: relative;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > a:before{
	background: #0accff;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0 1.5em;
    padding: 0 0 0.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#fff !important;
}
a:active{
    color:#fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
}
.navbar-right {
      margin: 0.8em 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #212121;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > a:focus {
	background:transparent;
    color: #212121;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
.navbar-brand {
    height: 70px;
    font-size: .8em;
    line-height: 22px;
    letter-spacing: 2px;
    margin-left: 1em;
    font-weight: 600;
    border-radius: 0;
    padding: 13px 0 0 0;
}
.navbar-brand span {
    padding: 0;
    display: block;
    font-size: 12px;
    color: #00acee;
    letter-spacing: 6px;
}
.navbar-brand i{
	font-style:normal;
	color: #ffcc2f;
}
.navbar-right {
    float: none !important;
}
.navbar {
    border-radius: 0px;
}
.navbar-nav {
      margin: 0.8em 0 0 4em;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:capitalize;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#77C53E;
}
.w3ls_agile_header_inner {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
/*-- header --*/
.w3layouts_header_left{
	float:left;
}
.w3layouts_header_left p{
	color:#999;
	line-height:1.8em;
}
.w3layouts_header_right{
	float:right;
}
.header {
    padding: 0.6em 3em;
    background: #00acee;
}
.w3layouts_header_right ul li{
	display:inline-block;
	    color: #fff;
}
.w3layouts_header_right ul li:last-child{
	margin-left:2em;
}
.w3layouts_header_right ul li i{
	    color: #ffcc2f;
	padding-right:1em;
}
.w3layouts_header_left {
    float: left;
}
.w3layouts_header_right ul li a{
		    color: #fff;
	text-decoration:none;
}
.w3layouts_header_right ul li a:hover{
	color:#fa3d43;
}
.w3layouts_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.w3layouts_header_left ul li a {
      color: #fff;
    padding: 0.5em 1em;
    font-size: 1.1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.w3layouts_header_left i {
    color: #ffcc3a;
}
.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#00acee;
}
.social_list_w3ls span {
    font-size: 1em;
}
/*-- //Juliet Styles --*/
.agileinfo_social_icons {
    float: right;
    margin: 0.5em 0em 0 0;
}
.agileits_social_list li{
	display:inline-block;
	    margin-right:5px;
}
.agileits_social_list li a{
	width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#111;
	border: 2px solid #111;
	background:none;
}
a.w3_agile_facebook{
	background:#3b5998;
	border:2px solid #3b5998;
}
a.agile_twitter{
	background:#1da1f2;
	border:2px solid #1da1f2;
}
a.w3_agile_dribble{
	background:#ea4c89;
	border:2px solid #ea4c89;
}
a.w3_agile_vimeo{
	background:#f26522;
	border:2px solid #f26522;
}
.w3_agile_banner_info{
    margin: 10em 0 0;
}
.agile_banner_info_grid{
   position: relative;
    padding: 2em;
    height: 300px;
    width: 25%;
}
.agile_banner_info_grid p{
	font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.agile_banner_info_grid_pos{
	position: absolute;
    top: 35%;
    left: 10%;
    width: 230%;
}
.agile_banner_info_grid p span{
	color:#B0CE2D;
}
/*-- //nav --*/
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.footer,.stats,.projects,.team{
	padding:5em 0;
}
.banner-bottom h3 {
    text-align: center;
    font-size: 2.5em;
    color: #111;
}
p.agile_para {
    text-align: center;
    line-height: 2em;
    color: #000;
    font-size: 1em;
    margin: 1em 0 4em 0;
    font-weight: 400 !important;
}
p.quia {
    display: block;
    color: #000;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1em;
}
.w3_agileits_banner_bottom_grid{
	background: #B0CE2D !important;
    position: relative;
    height: 156px;;
}
.w3_agileits_banner_bottom_grid_left{
	padding:0;
	position:relative;
}
.agileits_w3layouts_banner_bottom_grid h4{
	margin:1em 0 0;
	width: 80%;
}
.agileits_w3layouts_banner_bottom_grid h4 a{
	text-transform: capitalize;
    font-size: .85em;
    font-weight: 600;
    line-height: 1.5em;
    text-decoration: none;
}
.agileits_w3layouts_banner_bottom_grid h4 a:hover{
	color:#00acee;
}
.w3_agileits_banner_bottom_grid h5{
	font-size: 1em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    padding-top: 4em;
}
.wthree_banner_bottom_grid1{
    position: relative;
}
.agileinfo_banner_bottom_grid1_pos{
   background: rgba(16, 16, 16, 0.67);
    bottom: 19px;
    left: 19px;
    opacity: 0;
    padding:1em;
    position: absolute;
    right: 19px;
    text-align: center;
    top: 19px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.agileinfo_banner_bottom_grid1_pos h3{
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 600;
    margin:1.5em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}
.agileinfo_banner_bottom_grid1_pos h3:after {
    background: #ffcc2f;
    bottom: 0;
    content: '';
    height: 2px;
    left: 38%;
    position: absolute;
    width: 50px;
}
.agileinfo_banner_bottom_grid1_pos p{
	color:#fff;
	line-height:2em;
}
.agileits_w3layouts_banner_bottom_grid:hover .agileinfo_banner_bottom_grid1_pos{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
/*-- //banner-bottom --*/
/*-- bootstrap-pop-up --*/
.modal-header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #777;
    text-align: left;
	padding:1em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1.5em;
    color:#212121;
	outline: none;
}
/*-- registration --*/
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
      width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
       margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
      background: #00acee;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}
/*-- //registration --*/
/*-- //bootstrap-pop-up --*/
/*-- services-bottom --*/
.w3_agileits_services_bottom_r_grid{
    padding: 4em 4em 0;
    background: #3be8b0;
    min-height: 313px;
}
.w3_agileits_services_bottom_r_grid h4{
	    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    color: #212121;
    position: relative;
    padding-bottom: 1em;
    font-weight: 600;
}
.w3_agileits_services_bottom_r_grid h4:after{
	content: '';
    background:#212121;
    width: 30%;
    height: 4px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.w3_agileits_services_bottom_r_grid p{
	color: #525a45;
    line-height: 2em;
    margin:3em 0 2em;
}
.agile_services_bottom_l_grid1{
	position:relative;
}
.w3_service_bottom_grid_pos{
    background: rgba(0, 0, 0, 0.76);
    bottom: 35px;
    left: 35px;
    opacity: 0;
    padding: 3em 1em;
    position: absolute;
    right: 35px;
    top: 35px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: 9;
    text-align: center;
}
.w3_service_bottom_grid_pos h3 {
       font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 3em;
}
.w3_agileits_services_bottom_l_grid:hover .w3_service_bottom_grid_pos {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
.serve_info_agile {
    text-align: center;
    background: #00acee;
    padding: 1em;
}
.serve_info_agile p {
       color: #052b3a;
}
.serve_info_agile.two {
    margin-bottom: 3em;
}
.serve_info_agile h4 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

.services {
    padding:5em 0;
	    background: #1e2021;
		    text-align: center;
}

h3.w3l_header,h2.w3l_header {
 text-align: center;
    color: #B0CE2D;
    font-size:2.8em;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 2px;
}
h3.w3l_header.two {
    color: #fff;
}
.w3ls_banner_bottom_grids,.w3ls_service_grids {
    margin-top: 3em;
}
/*-- //services-bottom --*/
/*-- testimonials --*/
.testimonials {
    background: url(../images/advisory.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    height: auto !important;
    padding: 5em 0em;
}
.wthree_head{
	position: relative;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-bottom:.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
	margin-bottom:.5em;
}
.wthree_head:before,.wthree_head:after{
	position:absolute;
	background:#5ec05d;
	height:2px;
	content:'';
}
.wthree_head:before{
	width: 11%;
    bottom: 8%;
    left: 44.5%;
}
.wthree_head:after{
	width: 18%;
    right: 41%;
    bottom: 0%;
}
.agileits_w3layouts_para{
	text-align:center;
	color:#fff;
	line-height:2em;
}
.w3_testimonials_grids{
	margin:3em 0 0;
}
.w3_agileits_testimonials_grid{
	text-align:center;
}
.w3_agileits_testimonials_grid img{
	margin:0 auto;
}

/*-- //testimonials --*/
/*-- projects --*/
.w3layouts_projects_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_projects_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_projects_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3_agile_projects_grid:hover .w3layouts_projects_grid_pos,.w3layouts_gallery_grid:hover .w3layouts_projects_grid_pos,
.w3_agile_class_grid:hover .w3layouts_projects_grid_pos{
    opacity:1;
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3_agile_projects_grid:hover .wthree_text,.w3layouts_gallery_grid:hover .wthree_text,
.w3_agile_class_grid:hover .wthree_text{
    opacity: 1;
	-webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 0;
	    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.agileits_social_list li{
	display: inline-block;
}
.agileits_social_list li:nth-child(2){
    margin:0 1.5em;
}
.agileits_social_list li a{
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agileits_social_list li a i{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	line-height: 2.5em;
}
.agileits_social_list li a:hover{
	background:#fff;
}
a.w3_agile_facebook,.w3_facebook{
	background:#3b5998;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter,.w3ls_twitter{
	background:#1da1f2;
}
a.w3_agile_dribble,.w3l_dribbble{
	background:#ea4c89;
}
a.w3_agile_vimeo{
	background:#1ab7ea;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
.agile_social_icons_banner {
    float: right;
    margin:1.6em 2em 0 0;
}
.w3_agile_projects_grid{
	text-align:center;
}
.w3_agile_projects_grid h4{
	font-size: 1.5em;
    color: #212121;
    margin: 1.5em 0 .2em;
}
.w3_agile_projects_grid p {
    color: #b5b4b4;
    font-size: 16px;
    letter-spacing: .3px;
}
.projects1{
	background: url(../images/g1.jpg)no-repeat 0px 0px;
	float:left;
	width: 50%;
}
.projects2{
	background: url(../images/g2.jpg)no-repeat 0px 0px;
	 float: right;
	 width: 50%;
}
.projects3{
	background: url(../images/g3.jpg)no-repeat 0px 0px;
	width: 100%;
}
.projects1,.projects2,.projects3{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    min-height: 364px;
}
.projects1-info-w3ls,.projects2-info-w3ls,.projects3-info-w3ls{
	margin: 4em 0em;
    width: 40%;
    float: left;
    padding: 3em 1em;
    background: #151414;
}
.projects1-info-w3ls{
	text-align:left;
	margin-left:1em!important;
}
.projects3-info-w3ls{
	text-align:left;
	margin-left:2em!important;
	width:80%!important;
}
.projects2-info-w3ls {
    text-align: right;
    float: right;
    margin-right: 1em!important;
}
.projects1-info-w3ls h6,.projects2-info-w3ls h6,.projects3-info-w3ls h6{
	color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 13px;
}
.projects1-info-w3ls p,.projects2-info-w3ls p,.projects3-info-w3ls p{
}
.projects-agileits-left,.projects-agileits-right {
    padding: 0;
}
.projects1-info-w3ls::after {
    content: "";
    width: 265px;
       background: #ffcc2f;
    height: 4px;
    position: absolute;
    top: 16em;
    right: 13em;
    z-index: 999;
}
.projects2-info-w3ls::after {
    content: "";
    width: 265px;
      background: #ffcc2f;
    height: 4px;
    position: absolute;
    top: 39em;
    right: 13em;
    z-index: 999;
}
.projects3-info-w3ls::after {
    content: "";
    width:4px;
 background: #ffcc2f;
    height: 265px;
    position: absolute;
    top: 18em;
    right: 22.5em;
    z-index: 999;
}
.wthree_text h6 {
    font-size: 2em;
    color: #00acee;
    text-transform: uppercase;
}
/*-- //projects --*/
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:91%;
}
.nbs-flexisel-nav-right {
	right: 1.2%;
    background:none;
}
/*--//flexisel--*/
/*-- about --*/
/*-- //about --*/
/*-- footer --*/
.footer{
    background: #000;
	padding:2em 0;
    font-family: opensans;
}
.agile_footer_grid h3,.wthree_footer_grid_right h3{
 font-size: 1.6em;
    color: #fff;
    padding-bottom: .5em;
    position: relative;   
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.agile_footer_grid h3:after,.wthree_footer_grid_right h3:after{
	content: '';
    background: #00acee;
    width:20%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.agile_footer_grid p{
	color:#999;
	line-height:2em;
	margin-bottom:2em;
}
.agileits_w3layouts_footer_grid_list li,.w3_address li{
	display:block;
	margin-bottom:1em;
}
.agileits_w3layouts_footer_grid_list li i{
	color:#ffcc2f;
	padding-right:1em;
}
.agileits_w3layouts_footer_grid_list li a{
	color: #999;
    text-decoration: none;
    line-height: 1.5em;
}
.agileits_w3layouts_footer_grid_list li a:hover{
	color:#ffcc2f;
}
.agileits_w3layouts_footer_grid_list li:last-child,.w3_address li:last-child{
	margin-bottom:0;
}
.w3_address li{
	color: #999;
}
.w3_address li i {
    padding: .5em 0em;
    margin-right: 1.5em;
}
.w3_address li span {
    display: block;
    margin-left: 2.5em;
}
.w3_address li a{
    color: #999;
    text-decoration: none;
}
.w3_address li a:hover{
    color: #fff;
    text-decoration: none;
}
.w3_agileits_footer_grids{
	margin:3em 0;
}
.wthree_footer_grid_right input[type="email"]{
	outline: none;
    padding: 12px;
    background: rgb(27, 27, 27);
    font-size: 1em;
    color: #fff;
    width: 70%;
    margin-right: 1em;
    border: none;
	letter-spacing:1px;
}
.wthree_footer_grid_right input[type="email"]::-webkit-input-placeholder{
	color:#ffff !important;
}
.wthree_footer_grid_right input[type="submit"]{
	outline: none;
    padding: 12px 0;
    background: #ffcc2f;
    font-size: 1em;
    color: #fff;
    width: 20%;
    border: none;
}
.wthree_footer_grid_right input[type="submit"]:hover{
	background:#00acee;
}
.agileinfo_copyright p{
	color:#fff;
	line-height:2em;
	text-align:center;
}
.agileinfo_copyright p a{
	color:#00acee;
	text-decoration:underline;
}
.agileinfo_copyright p a:hover{
	color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/
.w3l_service_grid_left{
	text-align:center;
}
.w3_service_grid_left_grid{
	width:120px;
	height:120px;
	border:2px solid #212121;
	    margin: 0 auto 2em;
	padding-top:1em;
	position: relative;
    overflow: hidden;
}
.w3_service_grid_left_grid img{
	margin:0 auto;
}
.w3l_service_grid_left h4{
    font-size: 1.1em;
    color: #00acee;
    font-weight: 600;
    margin: 1em 0;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: uppercase;
}
.w3l_service_grid_left p{
	color:#777;
	line-height:2em;
	margin-bottom:1.5em;
}
.w3_agile_service_more a{
	font-size:1.2em;
	color:#212121;
	letter-spacing:2px;
	text-decoration:none;
}
.w3_agile_service_more a i{
	padding-left:1em;
	color:#00acee;
}
.w3_agile_service_more a:hover{
	color:#00acee;
}
.w3_agile_service_more a:hover i{
	color:#212121;
}
.w3_service_grid_left_grid img {
    transition: transform 0.5s;
    transform: scale(1.10);
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	-o-transform: scale(1.10);
	-ms-transform: scale(1.10);
}
.w3l_service_grid_left:hover .w3_service_grid_left_grid img{
    transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.w3l_service_grid_left:hover .w3_service_grid_left_grid{
border: 2px solid #ffcc2f;
}
/*-- //services --*/
/*-- stats --*/
.stats{
	background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
/*-- //stats --*/
/*-- odometer --*/
.odometer{
	font-size: 3em;
    color: #fff;
    font-weight: bold;
}
.w3_stats_grid p{
	font-size:1em;
	color:#fff;
	margin:1em 0 0;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
.w3_service_grid_left_grid i {
    font-size: 3em;
    line-height: 1.8em;
    color: #222;
}
/*-- //odometer --*/
/*-- featured-services --*/
.agile_services_grid{
	position:relative;
}
.agile_services_grid_pos{
	position: absolute;
    bottom: -13%;
    left: 5%;
    width: 55px;
    height: 55px;
    background: #ffcc2f;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
}
.w3_agile_services_grid:hover .agile_services_grid_pos{
	background: #212121;
}
.agile_services_grid_pos i{
	font-size: 1.3em;
    color: #fff;
    line-height: 2.5em;
}
.w3_agile_services_grid h4{
	    font-size: 1.2em;
    letter-spacing: 5px;
    color: #00acee;
    font-weight: 600;
    margin: 2.5em 0 0.5em;
    text-transform: uppercase;
}
.w3_agile_services_grid p{
	color:#777;
	line-height:2em;
}
.column div {
	position: relative;
    padding: 0;
}
.agile_services_grid figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Rotate */
.hover06 figure img {
	-ms-transform: rotate(15deg) scale(1.4);
	-o-transform: rotate(15deg) scale(1.4);
	-moz-transform: rotate(15deg) scale(1.4);
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
}
.hover06 figure:hover img,.w3_agile_services_grid:hover .hover06 figure img{
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-moz-transform: rotate(0) scale(1);
	-o-transform: rotate(0) scale(1);
	-ms-transform: rotate(0) scale(1);
}
/*-- //featured-services --*/
.w3layouts_banner1_info{
    text-align: center;
    padding-top: 7.5em;
}
.w3layouts_banner1_info h2{
	font-size:3em;
	color:#fff;
	letter-spacing:1px;
}
/*-- gallery --*/
.w3ls_gallery_grids{
	padding-top:1em;
}
.agile_gallery_grid{
	margin-top:2em;
}
.agile_gallery_grid1{
    position: relative;
}
.w3layouts_gallery_grid1_pos{
    background: #00acee;
    bottom: 45px;
    left: 45px;
    opacity: 0;
    padding:1em;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 45px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.w3layouts_gallery_grid1_pos h3{
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 1em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
    color: #212121;
}
.w3layouts_gallery_grid1_pos h3:after {
    background: #ffcc2f;
    bottom: 0;
    content: '';
    height: 2px;
    left: 40%;
    position: absolute;
    width: 50px;
}
.w3layouts_gallery_grid1_pos p{
	color: #fff;
	line-height:2em;
	letter-spacing:1px;
}
.agile_gallery_grid:hover .w3layouts_gallery_grid1_pos{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
/*-- //gallery --*/
/*-- icons --*/
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Museo;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#ffcc2f !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Museo;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box{
		width: 33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 736px){
	.icon-box {
		float: left;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}	
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin: 25px 0 0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.grid_3.grid_4.w3layouts {
    margin: 0;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#ffcc2f;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
/*.tab-content > .active {
	display: block;
	visibility: visible;
}*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:991px){
	.grid_3.grid_5.wthree,.grid_3.grid_5.w3l {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.grid_3.grid_5.agileits {
		padding: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.grid_3.grid_5.w3l {
		padding: 1.5em 0;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.grid_3.grid_5.agileinfo {
		padding: 1.5em 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- mail --*/
.map iframe{
	width:100%;
	min-height:413px;
	border:none;
}
.w3l_mail_left{
	padding:0;
}
.w3l_mail_right{
	padding: 4em 5em;
    background: #ffcc2f;
}
.w3l_mail_right h3{
	font-size: 1.7em;
    color: #fff;
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-weight: 600;
}
.w3l_mail_right h3:after {
    content: '';
    background: #fff;
    height: 2px;
    width: 16%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.w3l_mail_right ul li{
	list-style-type: none;
    display: block;
    color: #fff;
    margin-bottom: 1em;
    position: relative;
    font-size: 1em;
}
.w3l_mail_right ul li span{
	font-weight: bold;
    width: 35%;
    display: inline-block;
	color:#212121;
}
.w3l_mail_right ul li span i {
    padding-right: 1em;
}
.w3l_mail_right ul li span label{
	position:absolute;
	top:0%;
	left:10%;
}
.w3l_mail_right ul li span label {
    position: absolute;
    top: 0%;
    left: 28%;
}
.w3l_mail_right ul li a{
	color:#fff;
	text-decoration:none;
}
.w3l_mail_right ul li a:hover{
	color:#212121;
}
.w3l_mail_right ul li:last-child{
	margin-bottom:0;
}
/*-- effect --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 1.7em 1em 0;
	// width:350px;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 1px;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Chisato */

.input--chisato {
	padding-top: 1em;
}

.input__field--chisato {
	width: 100%;
	padding:.9em 0.5em;
	background: transparent;
	border: 2px solid #b5b5b5;
	color: #212121;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
	padding: 0 1em;
	font-weight: 400;
	    color: #777;
}

.input__label-content--chisato::after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #ffcc2f;
	font-weight: 800;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
	border-color: #ffcc2f;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}
/*-- //effect --*/
.agileinfo_mail_grids {
    padding-top: 1.5em;
}
.agileinfo_mail_grids textarea {
       outline: none;
    background: none;
    border: 2px solid #b5b5b5;
    font-size: 12px;
    color: #212121;
    width: 97.5%;
    padding: .9em 0.9em;
    margin: 2em 0;
    font-family: Museo;
    min-height: 200px;
	letter-spacing:1px;
}
.agileinfo_mail_grids textarea:focus {
    border-color:#ffcc2f;
}
.agileinfo_mail_grids textarea::-webkit-input-placeholder{
    color: #696969;
}
.agileinfo_mail_grids input[type="submit"] {
    outline: none;
    background: #00acee;
    border: none;
    font-size: 1em;
    color: #fff;
    width: 30%;
    padding: 0.9em 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.agileinfo_mail_grids input[type="submit"]:hover{
	background:#ffcc2f;
}
/*-- //mail --*/
/*-- testimonials --*/
.w3ls_testimonials_grids{
	width:80%;
	margin:3em auto 0;
}
.w3l_testimonial_grid{
    padding: 4em 2em 2em;
    background: #B0CE2D !important;/*rgba(255, 255, 255, 0.08)*/
    text-align: center;
    position: relative;
    margin: 5em 1.2em 0;
    border: 1px solid #ddd;
}
.w3l_testimonial_grid:focus,.agileits_testimonial_grid:focus{
	outline:none;
}
.w3l_testimonial_grid_pos{
	position:absolute;
	width:100%;
	text-align:center;
	top:-25%;
	left:0%;
}
.w3l_testimonial_grid_pos img{
	margin:0 auto;
}
.w3l_testimonial_grid p{
    color: #000;
    line-height: 2em;
    position: relative;
    padding-left: 2em;
}
.w3l_testimonial_grid p:before{
	content:"\f10d";
	font-size:2em;
	color: #ffcc2f;
	font-family:FontAwesome;
	position:absolute;
	top:0%;
	left:0%;
}
.agileits_testimonial_grid h4{
font-size: 1.1em;
    color: #00acee;
    margin: 1em 0 0.5em;
	letter-spacing:1px;
}
.agileits_testimonial_grid h5{
	font-size:.8em;
	color:#ffcc2f;
	letter-spacing:2px;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    line-height: 0;
    position: absolute;
    top: 60%;
    display: block;
    width: 50px;
    height: 40px;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1em;
    outline: none;
    background: #00acee;
    z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
    content:"\f177";
}
[dir='rtl'] .slick-prev:before
{
    content: "\f177";
}

.slick-next,[dir='rtl'] .slick-prev
{
    right:-6.5%;
}
[dir='rtl'] .slick-next,.slick-prev
{
    right: auto;
    left:-6.5%;
}
.slick-next:before
{
    content: "\f178";
}
[dir='rtl'] .slick-next:before
{
    content: "\f178";
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -68px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: #212121;
    border: 0;
    outline: none;
    background:transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f111";
    text-align: center;
    opacity: .9;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color:#ffcc2f;
}
/*-- //testimonials --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.banner_wthree_agile_info {
		position: relative;
		text-align: left;
		margin: 12% auto 0;
		width: 78%;
		padding: 0 0 0 0em;
	}
}
@media (max-width:1366px){
	h3.w3l_header {
      font-size: 2.7em;
	}
	.banner ul li,.banner {
		height:630px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:630px!important;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
		bottom:74px;
		padding: 0 10px;
	}
}
@media (max-width: 1280px){

	h3.w3l_header {
      font-size: 2.5em;
	}
	.navbar-nav > li > a {
		margin: 0 1em;
	}
	.banner ul li,.banner {
		height:580px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:580px!important;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
		bottom: 48px;
		padding: 0 10px;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1.2em;
		line-height:2em;
	}
}
@media (max-width: 1080px){
	
	.agileinfo_social_icons {
		margin: 0.3em 2em 0 0;
	}
	.agileits_about_grid_right h3 {
		font-size: 3.7em;
	}
	.agileits_about_grid_right h4 {
		font-size: 1.8em;
	}
	.w3layouts_about_grid_left_pos {
		width: 46%;
	}
	.w3ls_about_bottom h3 {
		font-size: 2.3em;
		width: 70%;
		margin: 0 0 1em 7.5em;
	}
	.w3_events_grid_left h3 {
		font-size: 2.8em;
	}
	.w3_events_grid_left {
		padding: 2em 3em 0;
		min-height: 313px;
	}
	.w3_events_grid_left p {
		margin: 1em 0;
	}
	.w3_events_grid_right_pos h3 {
		margin: 0em 0 0.5em;
	}
	.w3l_service_grid_left h4 {
		font-size: .86em;
	}
	.w3_agile_services_grid h4 {
		font-size: 1.1em;
		letter-spacing: 5px;
	}
	.w3layouts_gallery_grid1_pos {
		bottom: 30px;
		left: 30px;
		right: 30px;
		top: 30px;
	}
	.w3layouts_gallery_grid1_pos h3 {
		margin: 0.2em 0 .5em;
	}
	.w3l_mail_right {
		padding: 3em 3em;
	}
	.w3l_mail_right h3 {
		margin-bottom: 1.5em;
		padding-bottom: 0.5em;
	}
	#map {
		min-height: 353px;
	}
	.input.input--chisato:nth-child(3) {
		margin-right: 0;
	}
	.input {
		width: 292px;
	}
	.agileinfo_mail_grids textarea {
		width: 99.7%;
	}
	.header {
      padding: 0.6em 1em;
	}
	.navbar-brand {
      margin-left: 0em;
	}
	.agileits_social_list li:nth-child(2) {
		margin: 0 1em;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 86%;
	}
	.banner-bottom, .footer, .stats, .projects, .team,.services {
		padding:4em 0;
	}
	.banner ul li,.banner {
		height:550px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:550px!important;
	}
	.banner_wthree_agile_info {
		margin: 10% auto 0;
		width: 87%;
	}
	.banner .left {
      left: 20px;
	}
	.banner .right {
      right:20px;
	}
	.w3_agileits_banner_bottom_grid h5 {
		font-size: 1em;
		line-height: 3em;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		font-size: 1em;
		letter-spacing: 2px;
		margin: 1em 0 .5em;
	}
	.w3_agileits_banner_bottom_grid {
		height: 129px;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1.2em;
		line-height: 1em;
	}
	.projects1-info-w3ls h6, .projects2-info-w3ls h6, .projects3-info-w3ls h6 {
       font-size: 20px;
	}
	.wthree_text {
		width: 100%;
		top: 44%;
	}
	.map iframe {
		min-height: 353px;
	}
	.navbar-nav {
		margin: 0.8em 0 0 2em;
	}
	.banner1 {
		min-height: 220px;
	}
	.w3layouts_banner1_info {
		padding-top: 5.5em;
	}
}
@media (max-width: 1050px){
	.navbar-nav {
		margin: 0.8em 0 0 1em;
	}
	.banner ul li,.banner {
		height:550px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:550px!important;
	}
	.map iframe {
		min-height: 376px;
	}
}
@media (max-width: 1024px){
	.w3_agileits_banner_bottom_grid:before {
		left: -19%;
		border-bottom: 30px solid #212121;
		border-left: 30px solid transparent;
	}
	.w3_agileits_banner_bottom_grid_left:after {
		right: -3.8%;
		border-bottom: 30px solid #212121;
		border-right: 30px solid transparent;
	}
	.w3l_mail_right {
		padding: 3em 2em;
	}
	.w3_stats_grid p {
		font-size: 0.9em;
	}
	.odometer {
		font-size: 2.3em;
	}
	.navbar-brand {
		height: 70px;
		font-size: .7em;
		line-height: 22px;
	}
	.banner ul li, .banner {
		height: 517px!important;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -114px;
		left: 16px;
	}

	.map iframe {
		min-height: 354px;
	}
}
@media (max-width: 991px){
	.navbar-brand {
		font-size: .65em;
		margin-left: 0.5em;
	}
	.menu--juliet .menu__item {
		font-size: 12px;
	}
	.navbar-nav > li > a {
		margin: 0 0.7em;
	}
	.agileinfo_social_icons {
		margin: 0.1em 1em 0 0;
	}
	.navbar-nav {
		margin: 0.5em 0 0 4em;
	}
	.w3_agileits_banner_bottom_grid:before {
		left: -4%;
	}
	.w3_agileits_banner_bottom_grid_left:after {
		right: -4%;
		top: -72.5%;
	}
	.agileits_w3layouts_banner_bottom_grid h4 a {
		font-size: .8em;
	}
	.agileits_w3layouts_banner_bottom_grid h4 {
		width: 100%;
	}
	.agileinfo_banner_bottom_grid1_pos {
		bottom: 10px;
		left: 10px;
		right: 10px;
		top: 10px;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 0 0 .8em;
	}
	.w3ls_about_bottom {
		margin: 8em 0 0;
	}
	.w3ls_about_bottom h3 {
		font-size: 2em;
		width: 85%;
		margin: 0 0 1em 3em;
	}
	.w3layouts_about_grid_left_pos {
		width: 40%;
	}
	.w3_events_grid_left p {
		margin: 2em 0;
	}
	.w3_events_grid_left {
		padding: 3em;
		min-height: auto;
	}
	.w3layouts_events_grids {
		width: 88%;
		margin: 0 auto;
	}
	.w3_events_grid_right_pos h3 {
		margin: 1em 0 1.5em;
	}
	.w3_events_grid_right_pos {
		padding: 3em;
	}
	.agile_footer_grid h3:after, .wthree_footer_grid_right h3:after {
		width: 10%;
	}
	.agile_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agileits_head {
		font-size: 2.3em;
	}
	.w3layouts_para:before {
		left: 37%;
	}
	.w3layouts_para:after {
		right: 37%;
	}
	.w3l_service_grid_left {
		float: left;
		width: 50%;
	}
	.w3l_service_grid_left:nth-child(2){
		margin-bottom:2em;
	}
	.w3_stats_grid {
		float: left;
		width: 25%;
	}
	.odometer {
		font-size: 2.6em;
	}
	.w3_agile_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3_agile_services_grid h4 {
		font-size: .8em;
		line-height: 1.5em;
		letter-spacing: 4px;
	}
	.w3_agile_gallery_grid {
		float: left;
		width: 33.33%;
	}
	.w3layouts_gallery_grid1_pos {
		bottom: 10px;
		left: 10px;
		right: 10px;
		top: 10px;
	}
	.w3layouts_gallery_grid1_pos h3:after {
		left: 36%;
	}
	.input {
		width: 100%;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	h3.w3l_header {
      font-size: 2.3em;
	}
	.button--wayra {
		overflow: hidden;
		width: 18%;
		margin-top: 2em;
	}
	.w3_agileits_services_bottom_l_grid {
		float: left;
		width: 50%;
		margin-bottom:2em;
	}
	.serve_info_agile.two {
		margin-bottom: 0em;
	}
	.banner-bottom,.footer,.stats,.projects,
	.team, .services {
		padding: 3em 0;
	}
	.banner ul li:nth-child(1), .banner ul li:nth-child(2), .banner ul li:nth-child(3) {
		min-height: 500px!important;
	}
	.banner ul li, .banner {
		height: 479px!important;
	}
}
@media (max-width: 800px){
	.w3_agileits_banner_bottom_grid_left:after {
		right: -4.2%;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 90%;
	   margin-bottom: 15px;
	}
	.agileits_about_grid_right h3 {
		font-size: 3.3em;
	}
	.w3layouts_about_grid_left_pos {
		width: 48%;
	}
	.w3ls_about_bottom h3 {
		width: 75%;
		margin: 0 0 1em 5.5em;
	}
	.w3layouts_banner1_info {
		    padding-top:3.5em;
	}
	.banner1 {
		min-height: 175px;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
		bottom:68px;
		padding: 0 10px;
	}
	.banner ul li,.banner {
		height:500px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:500px!important;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -109px;
		left: 16px;
	}
}
@media (max-width: 768px){
	.w3_agileits_banner_bottom_grid:before,.w3_agileits_banner_bottom_grid_left:after {
		display:none;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 1em 0 2em;
		font-size: 1.2em;
	}
	.agileinfo_banner_bottom_grid1_pos {
		bottom: 50px;
		left: 50px;
		right: 50px;
		top: 50px;
	}
	.agileinfo_banner_bottom_grid1_pos h3:after {
		left: 40%;
	}
	.button--wayra {
		width: 22%;
		margin-top: 2em;
	}
	.banner ul li,.banner {
		height:450px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:450px!important;
	}
	.social_list_w3ls a {
       margin-right: 22px;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -95px;
		left: 16px;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
		bottom: 38px;
		padding: 0 10px;
	}
	.navbar-nav {
		margin: 0.5em 0 0 5em;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 95%;
		margin-bottom: 15px;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #111;
	}
	.navbar-toggle {
		margin: 0.5em 0em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		    background: #161617;
		z-index: 999;
	}
	.navbar-right {
		margin: 0;
	}
	.navbar-nav {
		margin:0;
		text-align: center;
	}
	.navbar-nav > li > a {
		margin: 0;
		display: inline-block;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff;
	}
	.agileinfo_social_icons {
		margin: 0 0 1em;
		text-align: center;
		float: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		left: 38%;
	}
	.agile_gallery_grid {
		margin-top: 1em;
	}
	.w3ls_gallery_grids {
		padding-top: 0em;
	}
	.w3ls_banner_bottom_grids, .w3ls_service_grids {
		margin-top: 2em;
	}
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
		padding: 23px 0 0 0;
	}
	.nav > li {
		position: relative;
		display: block;
		margin-top: 10px;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #ffffff;
		background: none;
	}
}
@media (max-width: 736px){
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 1em 0 1.5em;
	}
	.w3layouts_about_grid_left_pos {
		width: 53%;
	}
	.w3ls_about_bottom h3 {
		width: 68%;
		margin: 0 0 1em 7.5em;
		font-size: 1.8em;
	}
	.modal-body img {
		margin: 0 auto;
	}
	.w3_agile_grid_right_grid_pos h3 {
		font-size: 1em;
	}
	.w3_agile_grid_right_grid_pos {
		height: 80px;
	}
	.w3_events_grid_right_second {
		right: -5% !important;
	}
	.w3_agile_grid_right_grid_pos {
		left: -5%;
	}
	.odometer {
		font-size: 2.4em;
	}
	.w3_agile_services_grid h4 {
		letter-spacing: 3px;
	}
	.w3layouts_gallery_grid1_pos h3 {
		margin: 0 0 .5em;
		font-size: 1.1em;
	}
	.input {
		width: 209px;
	}
	.button--wayra {
		width: 26%;
		margin-top: 2em;
	}
	.wthree_more a {
       padding: 8px 7px;
	}
	h3.w3l_header, h2.w3l_header {
	   font-size: 2.5em;
	}
}
@media (max-width: 667px){
	.agile_banner_info_grid p {
		font-size: 2em;
	}
	.agileinfo_banner_bottom_grid1_pos {
		bottom: 30px;
		left: 30px;
		right: 30px;
		top: 30px;
	}
	.w3ls_about_bottom h3 {
		font-size: 1.6em;
	}
	.w3layouts_about_grid_left_pos {
		width: 59%;
	}
	.w3_events_grid_right_pos {
		padding: 1.5em;
	}
	.w3_stats_grid {
		width: 50%;
	}
	.w3_stats_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.w3_agile_services_grid h4 {
		letter-spacing: 2px;
	}
	.w3_agile_gallery_grid {
		padding: 0 .5em;
	}
	.w3layouts_gallery_grid1_pos p {
		line-height: 1.5em;
	}
	.agile_gallery_grid {
		margin-top: 1em;
	}
	.input {
		margin: 1em 1em 1em 0;
		width: 193px;
	}
	.agileinfo_mail_grids textarea {
		margin: 1em 0;
	}
	.odometer {
		font-size: 2.1em;
	}
	.modal-title {
      font-size: 22px;
	}
	.modal-body h5 {
      font-size: 18px;
	}
	.projects1-info-w3ls h6, .projects2-info-w3ls h6, .projects3-info-w3ls h6 {
		font-size: 19px;
	}
	.w3_agile_services_grid {
		float: left;
		width: 100%;
	}
	.w3_agile_services_grid:nth-child(2) {
		margin:1em 0;
	}
	.agile_services_grid_pos {
		position: absolute;
		bottom: -5%;
		left: 5%;
	}
	.map iframe {
		min-height: 302px;
	}
	.banner ul li, .banner {
		height: 407px!important;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -73px;
		left: 16px;
	}
	.banner .left {
		left: 10px;
	}
	.w3layouts_banner1_info h2 {
      font-size: 2.5em;
	}
	.w3layouts_banner1_info {
		padding-top: 4.5em;
	}
	.w3ls_testimonials_grids {
		width: 90%;
		margin: 1em auto 0;
	}
	.testimonials {
		min-height: 631px;
		padding-top: 5em;
	}
}
@media (max-width: 640px){
	.w3_agile_banner_info {
		margin: 4em 0 0;
	}
	.w3_agileits_banner_bottom_grid h2 {
		font-size: 1.5em;
		line-height: 3em;
	}
	.agileits_about_grid_right h4 {
		font-size: 1.6em;
	}
	.w3ls_about_bottom h3 {
		margin: 0 0 1em 7em;
	}
	.w3_events_grid_right_pos h3 {
		margin: 0.5em 0 1.5em;
	}
	.w3layouts_banner1_info h2 {
		font-size: 2em;
	}
	.w3layouts_banner1_info {
		    padding-top:3em;
	}
	.banner1 {
		min-height: 137px;
	}
	.agileits_head {
		font-size: 2em;
	}
	.w3layouts_gallery_grid1_pos h3 {
		font-size: 1em;
	}
	#map {
		min-height: 300px;
	}
	.w3l_mail_right h3 {
		font-size: 1.5em;
	}
	.input {
		width: 184px;
	}
	h3.w3l_header {
		font-size:2.5em;
		letter-spacing: 1px;
		    line-height: 1.2em;
	}
	.header {
      padding: 0.6em 1em;
	  
	}
	.w3layouts_header_left {
		float: none;
		text-align: center;
	}
	p.quia {
		letter-spacing: 4px;
		margin-bottom: 1em;
		font-size: 0.9em;
	}
	.w3ls_banner_bottom_grids, .w3ls_service_grids {
		margin-top: 1.5em;
	}
	.banner ul li, .banner {
		height: 385px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:400px!important;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -71px;
		left: 16px;
	}
	.button--wayra {
		width: 26%;
		margin-top: 1.3em;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
	    bottom: 30px;
		padding: 0 10px;
	}
	.w3layouts_header_right {
		float: none;
		text-align: center;
		margin-top: 5px;
	}
	.banner h2 {
		font-size: 2.2em;
		letter-spacing: 4px;
	}
}
@media (max-width: 600px){
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
		padding: 19px 0 0 0;
	}
	.agile_banner_info_grid {
		width: 40%;
	}
	.agile_banner_info_grid p {
		font-size: 1.8em;
	}
	.navbar-nav .open .dropdown-menu {
		left: 35%;
	}
	.agileits_w3layouts_banner_bottom_grid h4 {
		width: 95%;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 0.5em 0 1em;
	}
	.agileits_about_grid_right h3 {
		font-size: 3em;
	}
	.agileits_about_grid_right h4 {
		font-size: 1.5em;
	}
	.w3ls_about_bottom h3 {
		margin: 0 0 1em 7.8em;
		font-size: 1.4em;
	}
	.w3ls_about_bottom {
		padding: 2em 0 5.5em;
	}
	.w3layouts_about_grid_left_pos {
		width: 60%;
	}
	.w3_events_grid_left h3 {
		font-size: 2.5em;
	}
	.w3_events_grid_left {
		padding: 2em;
	}
	.w3layouts_events_grids {
		width: 95%;
	}
	.w3_agile_grid_right_grid_pos {
		left: -3%;
	}
	.w3_events_grid_right_second {
		right: -3% !important;
	}
	.agile_services_grid_pos {
		width: 40px;
		height: 40px;
	}
	.agile_services_grid_pos i {
		font-size: 1em;
		line-height: 2.3em;
	}
	.w3_agile_services_grid h4 {
		letter-spacing: 5px;
	}
	.w3layouts_gallery_grid1_pos {
		padding: .5em;
	}
	.w3layouts_para:before {
		left: 34%;
	}
	.w3layouts_para:after {
		right: 34%;
	}
	.input {
		width: 171px;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	.w3_agileits_services_bottom_l_grid {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.w3_service_bottom_grid_pos {
		padding: 5em 1em;
	}
	p.agile_para {
		margin: 1em 0 2em 0;
        color: #000;
	}
	.banner-bottom, .footer, .stats, .projects, .team, .services {
		padding: 2em 0;
	}
	.agileinfo_mail_grids .input {
		width: 100%;
		margin: 0 1em 1em 0;
	}
	.agileinfo_mail_grids {
		padding-top: 0.5em;
	}
	.banner ul li, .banner {
		height: 359px!important;
	}
	.banner ol {
		right: 12%;
		margin-left: -40px!important;
		bottom: 20px;
		padding: 0 10px;
	}
	.banner .left {
		left: 0px;
	}
	.banner .right {
		right: 0px;
	}
	.navbar-brand span {
		font-size: 11px;
		letter-spacing: 5px;
	}
}
@media (max-width: 568px){
	.w3ls_about_bottom h3 {
		margin: 0 0 1em 7.5em;
	}
	.agileits_about_grid_right h4 {
		font-size: 1.4em;
	}
	.agileits_about_grid_right p i {
		margin: 1em 0;
	}
	.w3_events_grid_right_pos h3 {
		margin: 0em 0 1em;
	}
	.agile_footer_grid h3, .wthree_footer_grid_right h3 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	.w3_address li span {
		display: inline-block;
		margin-left: 0;
	}
	.wthree_footer_grid_right input[type="email"] {
		width: 74%;
	}
	.wthree_footer_grid_right input[type="submit"] {
		width: 21.8%;
	}
	.agileinfo_copyright {
		padding: 1em 0;
	}
	.w3layouts_gallery_grid1_pos p {
		font-size: 13px;
	}
	.w3layouts_gallery_grid1_pos h3 {
		font-size: .9em;
	}
	.w3layouts_gallery_grid1_pos h3:after {
		left: 31%;
	}
	.input {
		width: 160px;
		margin: 0 1em 1em 0;
	}
	.banner ol {
		bottom: 31px;
		padding: 0 10px;
	}
	.projects1 {
		width: 100%;
	}
	.projects1-info-w3ls {
		text-align: left;
		margin-left: 0em!important;
	}
	.projects1-info-w3ls, .projects2-info-w3ls, .projects3-info-w3ls {
		margin: 2em 0em;
		width: 100%;
	}
	.projects2 {
		width: 100%;
	}
	.projects3-info-w3ls::after {
        content: "";
		width: 4px;
		background: #ffcc2f;
		height: 97px;
		position: absolute;
		top: 18em;
	}
	.projects2-info-w3ls::after {
		content: "";
		width: 147px;
		background: #ffcc2f;
		height: 4px;
		position: absolute;
		top: 41em;
	}
	.banner1 {
		min-height: 125px;
	}
	.agileinfo_mail_grids .input {
		width: 100%;
		margin: 0 0em 1em 0;
	}

}
@media (max-width: 480px){
	.banner-bottom, .footer, .stats {
		padding: 2em 0;
	}
	.w3_agileits_banner_bottom_grid h2 {
		font-size: 1.3em;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 1.5em 0 1em;
	}
	.agileinfo_banner_bottom_grid1_pos {
		padding: 4em;
	}
	.agileits_about_grid_right {
		padding: 0;
	}
	.agileits_about_grid_right h3 {
		font-size: 2.5em;
	}
	.agileits_about_grid_right h4 {
		font-size: 1.24em;
	}
	.w3ls_about_bottom h3 {
		margin: 0 0 1em;
		width: 100%;
	}
	.w3layouts_about_grid_left_pos {
		width: 70%;
	}
	.w3_events_grid_left ul li {
		margin-right: 1em;
	}
	.w3_events_grid_right_pos h3 {
		margin: 0em 0 .5em;
		font-size: 1.2em;
	}
	.w3_events_grid_right_pos {
		bottom: 35px;
		left: 35px;
		right: 35px;
		top: 35px;
		padding: 1.5em 1em;
	}
	.wthree_footer_grid_right input[type="email"] {
		width: 73%;
	}
	.agileits_head {
		font-size: 1.8em;
	}
	.w3layouts_para:before {
		left: 30%;
	}
	.w3layouts_para:after {
		right: 30%;
	}
	.w3l_service_grid_left h4 {
		font-size: .7em;
	}
	.w3_agile_service_more a {
		font-size: 1em;
	}
	.w3_agile_services_grid {
		float: none;
		width: 100%;
	}
	.w3_agile_services_grid:nth-child(2){
		margin:2em 0;
	}
	.agile_services_grid_pos {
		width: 50px;
		height: 50px;
		bottom: -9%;
	}
	.agile_services_grid_pos i {
		line-height: 2.7em;
	}
	.w3_agile_services_grid h4 {
		font-size: .9em;
	}
	.w3_agile_gallery_grid {
		float: none;
		width: 100%;
	}
	.w3layouts_gallery_grid1_pos {
		bottom: 50px;
		left: 50px;
		right: 50px;
		top: 50px;
		padding:1.5em;
	}
	.w3layouts_gallery_grid1_pos h3 {
		font-size: 1.2em;
		margin: 1em 0;
	}
	.w3layouts_gallery_grid1_pos p {
		font-size: 14px;
	}
	.w3layouts_gallery_grid1_pos h3:after {
		left: 42%;
	}
	.navbar-nav .open .dropdown-menu {
		left: 30%;
	}
	.w3l_mail_right {
		padding: 2em;
	}
	.w3l_mail_right h3 {
		font-size: 1.3em;
	}
	.input__field--chisato {
		padding: .5em 0.5em;
	}
	.input__label--chisato {
		top: -7px;
	}
	.input__field--chisato:focus + .input__label--chisato, .input--filled .input__label--chisato {
		top: 0;
	}
	.input {
		width: 100%;
		margin: 0.5em .5em .5em 0;
	}
	.agileinfo_mail_grids textarea {
		margin: 2em 0;
		width: 100%;
		min-height: 150px;
	}
	.agileinfo_mail_grids input[type="submit"] {
		font-size: .9em;
		width: 100%;
	}
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
		padding: 16px 0 0 0;
	}
	.w3ls_agile_header_inner {
		margin: 0 auto;
		text-align: center;
		width: 94%;
	}
	.banner .right {
		right: 10px;
	}
	.banner .left {
		right: 10px;
	}
	.banner ul li,.banner {
		height:330px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:330px!important;
	}
	h3.w3l_header {
		font-size: 2em;
		letter-spacing: 1px;
		line-height: 1.2em;
	}
	.w3_agileits_services_bottom_l_grid {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.w3_service_bottom_grid_pos {
		padding: 5em 1em;
	}
	.banner ol {
		bottom: 10px;
		padding: 0 10px;
	}
	p.agile_para {
		line-height: 2em;
		font-size: 0.9em;
		margin: 1em 0 2em 0;
	}
	.testimonials {
		min-height: 447px;
		padding-top: 2em;
		padding-bottom: 4em;
	}
	.w3_testimonials_grids {
		margin: 0em 0 0;
	}
	.wthree_footer_grid_right input[type="email"] {
		width: 72%;
	}
	h3.w3l_header, h2.w3l_header {
    font-size: 2em;
	}
	.slick-dots {
      bottom: -52px;
	}
}
@media (max-width:440px){
	.social_list_w3ls span {
		font-size: 0.9em;
	}
	.agileinfo_banner_bottom_grid1_pos {
		padding: 2.5em;
	}
	.w3layouts_about_grid_left_pos {
		width: 90%;
	}
	.w3_events_grid_left h3 {
		font-size: 2.2em;
	}
	.w3_events_grid_left h4 a {
		letter-spacing: 1px;
	}
	.w3_events_grid_left {
		padding: 1.5em;
	}
	.w3_events_grid_left ul li {
		margin-right: .5em;
	}
	.w3_events_grid_left p {
		margin: 1em 0;
	}
	.w3_events_grid_right_pos {
		bottom: 15px;
		left: 15px;
		right: 15px;
		top: 15px;
		padding: 1em;
	}
	.w3_events_grid_left ul li a i {
		padding-right: .7em;
	}	
	.agile_footer_grid h3, .wthree_footer_grid_right h3 {
		font-size: 1.4em;
	}
	.agile_footer_grid h3:after, .wthree_footer_grid_right h3:after {
		width: 25%;
	}
	.wthree_footer_grid_right input[type="email"] {
		width: 100%;
		margin: 0 0 1em;
	}
	.wthree_footer_grid_right input[type="submit"] {
		width: 100%;
	}
	.w3_agileits_footer_grids {
		margin: 2em 0;
	}
	.w3l_service_grid_left {
		float: none;
		width: 100%;
	}
	.w3l_service_grid_left:nth-child(2) {
		margin: 2em 0;
	}
	.w3l_service_grid_left:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3l_service_grid_left h4 {
		font-size: .9em;
	}
	.w3layouts_para:before {
		left: 25%;
	}
	.w3layouts_para:after {
		right: 25%;
	}
	.w3ls_service_grids {
		margin: 2em 0 0;
	}
	.w3layouts_gallery_grid1_pos h3 {
		margin: 0.2em 0 1em;
	}
	.w3l_mail_right ul li {
		font-size: .9em;
	}
	.w3layouts_header_left ul li a {
      padding: 0.5em 0em;
	}
	.w3layouts_header_right {
		float: none;
		text-align: center;
	}
	.w3layouts_header_right ul li:last-child {
		margin-left: 0;
	}
	h3.w3l_header {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.w3_service_bottom_grid_pos {
		padding: 4em 1em;
	}
	.button--wayra {
		width: 30%;
		margin-top: 1.3em;
	}
	.social_list_w3ls span {
		font-size: 0.8em;
	}
	.social_list_w3ls a {
		margin-right: 11px;
	}
	.banner ul li, .banner {
		height: 307px!important;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -61px;
		left: 16px;
	}
	.map iframe {
		min-height: 250px;
	}
	.agileinfo_mail_grids {
		padding-top: 0em;
	}
}
@media (max-width: 414px){
	.agileinfo_banner_bottom_grid1_pos {
		padding: 2.5em;
	}
	.w3layouts_about_grid_left_pos {
		width: 90%;
	}
	.w3_events_grid_left h3 {
		font-size: 2.2em;
	}
	.w3_events_grid_left h4 a {
		letter-spacing: 1px;
	}
	.w3_events_grid_left {
		padding: 1.5em;
	}
	.w3_events_grid_left ul li {
		margin-right: .5em;
	}
	.w3_events_grid_left p {
		margin: 1em 0;
	}
	.w3_events_grid_right_pos {
		bottom: 15px;
		left: 15px;
		right: 15px;
		top: 15px;
		padding: 1em;
	}
	.w3_events_grid_left ul li a i {
		padding-right: .7em;
	}	
	.agile_footer_grid h3, .wthree_footer_grid_right h3 {
		font-size: 1.4em;
	}
	.agile_footer_grid h3:after, .wthree_footer_grid_right h3:after {
		width: 25%;
	}
	.wthree_footer_grid_right input[type="email"] {
		width: 100%;
		margin: 0 0 1em;
	}
	.wthree_footer_grid_right input[type="submit"] {
		width: 100%;
	}
	.w3_agileits_footer_grids {
		margin: 2em 0;
	}
	.w3l_service_grid_left {
		float: none;
		width: 100%;
	}
	.w3l_service_grid_left:nth-child(2) {
		margin: 2em 0;
	}
	.w3l_service_grid_left:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3l_service_grid_left h4 {
		font-size: .9em;
	}
	.w3layouts_para:before {
		left: 25%;
	}
	.w3layouts_para:after {
		right: 25%;
	}
	.w3ls_service_grids {
		margin: 2em 0 0;
	}
	.w3layouts_gallery_grid1_pos h3 {
		margin: 0.2em 0 1em;
	}
	.w3l_mail_right ul li {
		font-size: .9em;
	}
	.w3layouts_header_left ul li a {
      padding: 0.5em 0em;
	}
	.w3layouts_header_right {
		float: none;
		text-align: center;
	}
	.w3layouts_header_right ul li:last-child {
		margin-left: 0;
	}
	h3.w3l_header {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.w3_service_bottom_grid_pos {
		padding: 4em 1em;
	}
	.button--wayra {
		width: 30%;
		margin-top: 1.3em;
	}
	.social_list_w3ls span {
		font-size: 0.8em;
	}
	.social_list_w3ls a {
		margin-right: 11px;
	}
	.banner ul li:nth-child(1), .banner ul li:nth-child(2), .banner ul li:nth-child(3) {
		min-height: 281px!important;
	}
	.banner ul li,.banner {
		height: 296px!important;
	}
}
@media (max-width: 384px){
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 1em 0 1em;
	}
	.w3ls_about_bottom h3 {
		font-size: 1.3em;
	}
	.w3_events_grid_left {
		padding: 1em;
	}
	.w3layouts_events_grids {
		width: 100%;
	}
	.w3_events_grid_right_pos h3 {
		font-size: 1em;
	}
	.agile_footer_grid h3, .wthree_footer_grid_right h3 {
		font-size: 1.25em;
	}
	.w3layouts_banner1_info h2 {
		font-size: 1.8em;
	}
	.banner1 {
		    min-height: 140px;
	}
	.agileits_head {
		font-size: 1.7em;
	}
	.odometer {
		font-size: 2.1em;
	}
	.w3_stats_grid {
		padding: 0;
	}
	.w3layouts_gallery_grid1_pos {
		bottom: 40px;
		left: 40px;
		right: 40px;
		top: 40px;
	}
	.w3layouts_gallery_grid1_pos h3 {
		margin: 0em 0 1em;
	}
	.w3l_mail_right ul li span label {
		left: 31%;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -63px;
		left: 16px;
	}
	.banner ul li,.banner {
		height:300px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:300px!important;
	}
	
}
@media (max-width: 375px){
	.navbar-toggle {
		    margin: 1em 0em 0 0;
	}
	.agile_banner_info_grid p {
		font-size: 1.3em;
	}
	.w3_agileits_banner_bottom_grid h2 {
		font-size: 1em;
	}
	.agileinfo_banner_bottom_grid1_pos {
		padding: 2em;
	}
	.w3_events_grid_left h3 {
		font-size: 2em;
	}
	.w3_events_grid_right_pos {
		padding: .8em;
	}
	.w3layouts_gallery_grid1_pos {
		padding: 1.2em;
	}
	#map {
		min-height: 250px;
	}
	.button--wayra {
		width: 38%;
		margin-top: 1.3em;
	}
	.banner_wthree_agile_info {
		margin: 10% auto 0;
		width: 98%;
	}
	.w3_service_bottom_grid_pos {
		padding: 3.5em 1em;
	}
	.navbar-brand {
		font-size: .65em;
		margin-left: 0;
		padding: 16px 0 0 0;
	}
	h3.w3l_header {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.banner1 {
		min-height: 119px;
	}
	.w3layouts_banner1_info {
		padding-top: 2.8em;
	}
	h3.w3l_header, h2.w3l_header {
		font-size: 1.7em;
	}
	.banner ol {
		bottom: 24px;
		padding: 0 10px;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -58px;
		left: 16px;
	}
   .banner i {
		width: 32px;
		height: 66px;
		position: absolute;
		top:100%;
	}
}
@media (max-width: 320px){
	.navbar-nav .open .dropdown-menu {
		left: 21%;
	}
	.agileinfo_banner_bottom_grid1_pos h3 {
		margin: 0em 0 1em;
	}
	.agileits_about_grid_right h3 {
		font-size: 2.2em;
	}
	p, ul li, ol li,.wthree_footer_grid_right input[type="email"] {
		font-size: 13px;
	}
	.w3ls_about_bottom h3 {
		font-size: 1.09em;
	}
	.w3layouts_about_grid_left_pos {
		width: 100%;
		left: 0;
	}
	.w3_events_grid_left h4 a {
		font-size: .85em;
	}
	.w3_events_grid_left h3 {
		font-size: 1.8em;
	}
	.w3_events_grid_left ul li {
		margin-right: 1.5em;
	}
	.w3_events_grid_right_pos {
		bottom: 5px;
		left: 5px;
		right: 5px;
		top: 5px;
		padding: .5em;
	}
	.wthree_footer_grid_right,.agile_footer_grid {
		padding: 0;
	}
	.agile_footer_grid h3, .wthree_footer_grid_right h3 {
		font-size: 1.15em;
	}
	.w3layouts_para {
		font-size: .8em;
	}
	.agileits_head {
		font-size: 1.4em;
	}
	.w3_stats_grid p {
		font-size: .9em;
	}
	.odometer {
		font-size: 1.8em;
	}
	.w3layouts_gallery_grid1_pos {
		bottom: 15px;
		left: 15px;
		right: 15px;
		top: 15px;
	}
	.w3layouts_gallery_grid1_pos h3:after {
		left: 39%;
	}
	.w3l_mail_right {
		padding: 1em;
	}
	.w3l_mail_right ul li {
		font-size: .83em;
	}
	.w3l_mail_right h3 {
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.agileinfo_mail_grids {
		padding-top: 0.5em;
	}
	.agileinfo_mail_grids input[type="submit"] {
		padding: 0.7em 0;
	}
	.banner ul li,.banner {
		height:240px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:240px!important;
	}
	.banner ol li {
		width:8px;
		height:8px;
		float: left;
		margin: 5px 5px;
	}
	.button--wayra {
		margin-top:1em;
	}
	.wthree_more a {
		padding: 4px 7px;
	}
	.social_list_w3ls {
		position: absolute;
		bottom: -50px;
		left: 16px;
	}

	.banner ol {
		bottom: -10px;
		padding: 0 10px;
	}
	.w3_service_bottom_grid_pos {
		padding: 2.2em 1em;
	}
	.serve_info_agile h4 {
      font-size: 1em;
	}
	 .banner i {
		width: 32px;
		height: 62px;
		position: absolute;
		top:100%;

	}
}