.training_content_wrap {
	height: auto;
}

.training_content_wrap_left_image {
	min-height: 550px;
	background: url(../images/new_training.jpg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_1 {
	min-height: 350px;
	background: url(../images/new_training1.jpg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_2 {
	min-height: 425px;
	background: url(../images/new_training2.jpg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_3 {
	min-height: 330px;
	background: url(../images/new_training3.jpg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_4 {
	min-height: 330px;
	background: url(../images/new_training4.png) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_5 {
	min-height: 330px;
	background: url(../images/new_training5.jpg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_left_image_6 {
	min-height: 330px;
	background: url(../images/new_training6.jpeg) no-repeat center;
    background-size: cover;
}

.training_content_wrap_right_content {
	padding: 2em 2em 2em 2em;
    min-height: 330px;
    height: auto;
    text-align: justify;
    background-color: #606060;
}