html, body{
    font-size: 100%;
	font-family: 'Prompt', sans-serif;
	background:#ffffff;
	margin: 0;
	font-family: Museo;
}
body {
	font-family: Museo;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Prompt', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.ul_li {
    font-size: 16px;
    line-height: 30px;
}
.img{
	background:url(../images/image.jpg) no-repeat 0px 0px;
	background-size:cover;
	background-attachment: fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:450px;
	position: relative;
}
.img1{
    background:url(../images/c3.jpg) no-repeat 0px 0px;
    background-size:cover;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:450px;
    position: relative;
}
.img2{
    background:url(../images/c4.jpg) no-repeat 0px 0px;
    background-size:cover;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:450px;
    position: relative;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:250px;
}
/*-- register --*/
.div_overlay{
	background-color: #B0CE2D;
	opacity: 0.6;
	height: auto;
}
.register{
	background: url(../images/business.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    height: auto;
}
.register1_overlay{
    background-color: #B0CE2D;
    opacity: 0.6;
    height: 450px;
}
.register1{
    background: url(../images/skyline.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    height: 450px;
}
// .w3layouts_register_left {
//     margin: 6.5em 0 0;
// }
.w3layouts_register_left h3{
	font-size:3.5em;
	color:#fff;
}
.w3layouts_register_left h3 span{
	color:#f79820;
}
.w3layouts_register_left p{
	margin:2em 0 0;
	color:#fff;
	line-height:2em;
}
.w3layouts_register_right form{
	width: 80%;
    padding: 2em;
    background:rgba(51, 158, 174, 0.62);
}
.w3layouts_register_right input[type="text"],.w3layouts_register_right input[type="email"]{
	outline: none;
    background: #fff;
    padding: 12px;
    border: none;
    font-size: 14px;
    color: #212121;
    width: 100%;
}
.w3layouts_register_right input[type="email"]{
	margin:1.5em 0;
}
.w3layouts_register_right input[type="submit"]{
	outline:none;
	background:#f79820;
	padding:12px 0;
	border:none;
	font-size:1em;
	color:#fff;
	width:100%;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:3px;
}
.w3layouts_register_right input[type="submit"]:hover{
	background:#13b3bb;
}
.w3layouts_register_right input[type="text"]:nth-child(2),.w3layouts_register_right input[type="submit"]{
	margin:1.5em 0 0;
}
/*-- //register --*/
/*-- about --*/
.about {
    padding: 5em 0;
}
p.ever{
	font-size:14px;
	color:#999;
	margin:1em 0 0;
	text-align:center;
}
.about-grid1 {
    background:#13b3bb;
    padding: 2em 2em 2em 10em;
	position:relative;
	 -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
}
.about-grid1:hover {
    background: #54d2d8;
}
.about-grid1:hover .hji p{
    color:#fff;
}
.about-grid1:hover .itis h4{
	color:#f79820;
}
.about-grid1-pos{
	position: absolute;
    top: -10%;
    left: -11%;
}
.about-grid1 h4{
	text-transform: uppercase;
    font-size: 1.3em;
    margin: 0;
    color: #fff;
}
.about-grid1 p{
	color:#212121;
	font-size:14px;
	margin:1em 0 0;
	line-height:1.8em;
}
.about-grids:nth-child(3){
	margin:5em 0 3em;
}
.about-grid2-left{
	padding: 1.8em;
    border-radius: 50%;
    background:#E8E8E8;
}
.about-grid2-left p{
	text-align:center;
	color:#E47719;
	font-size:1.5em;
	margin:0;
	font-family: 'Comfortaa', cursive;
}
.about-grid2-right p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
	position:relative;
}
.about-grid2 {
    margin: 3em 0 0;
}
.about-grd1 {
    padding: 2em 10em 2em 2em;
}
.about-grid1-pos1 {
    position: absolute;
    top: -10%;
    right: -11%;
}
.login{
	text-align:center;
	margin:4em 0 0;
}
.login a{
	font-size:16px;
	color:#999;
	padding:12px 55px;
	background:#fff;
	text-decoration:none;
	-webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
}
.login a:hover{
	background:#0e7095;
	color:#fff;
}
/*-- //about --*/
/*-- welcome --*/
.welcome{
    padding: 5em 0;
}
.welcome-tabs{
    margin: 4em 0 0;
}
.w3agile_tab_left {
    padding-left: 40px;
}
.footer {
	background-color: #000;
	padding: 2em 0px;
}
.footer p {
	text-align: center;
	color: #fff;
}
/*-- icons --*/
@media (max-width:991px){
	
}
@media (max-width:768px){
	
}
@media (max-width: 640px){
	
}
@media (max-width: 480px){
	
}
@media (max-width: 414px){
	
}
@media (max-width: 384px){

}
@media (max-width:768px){

}
@media (max-width:640px){

}
@media (max-width:480px){

}
@media (max-width: 320px){

}
/*-- start-responsive-design --*/
@media (max-width:1440px){
}
@media (max-width: 1366px){
}
@media (max-width: 1280px){

}
@media (max-width: 1080px){
.banner {
    min-height: 550px;
}
}
@media (max-width: 1024px){
}
@media (max-width: 991px){
.banner {
    min-height: 460px;
}
.register {
    padding: 3em 0;
}
.w3layouts_register_left {
    margin: 3em 0 0;
}
.w3layouts_register_right form {
    width: 100%;
}
}
@media (max-width: 900px){
}
@media (max-width: 800px){
.banner1 {
    min-height: 220px;
}
}
@media (max-width: 768px){

}
@media (max-width: 767px){
	
}
@media (max-width: 736px){

}
@media (max-width: 667px){
.agileits_w3layouts_banner_info_pos ul li {
    padding: 0 4em 0 0;
}
.agileits_w3layouts_banner_info p {
    width: 80%;
}
}
@media (max-width: 640px){
.agileits_w3layouts_banner_info h3 {
    font-size: 1.8em;
}
.agileits_w3layouts_banner_info p {
    font-size: 15px;
}
.agileits_w3layouts_banner_info_pos ul li label {
    width: 40px;
}
.agileits_w3layouts_banner_info {
    margin: 8em 0 0;
}
.banner {
    min-height: 410px;
}
.w3_banner_bottom_icons1 h3 {
    font-size: 1.1em;
}
.nav-tabs {
    width: 70%;
}
.w3agile_tab_left h4 {
    font-size: 1.7em;
}
}
@media (max-width: 600px){
.news-letter input[type="text"], .news-letter input[type="email"] {
    width: 38%;
}
.about-grid1-pos1 {
    top: -15%;
}
.about-grid1-pos {
    top: -15%;
}
}
@media (max-width: 568px){
.agileits_w3layouts_banner_info h3 {
    font-size: 1.6em;
}
.agileits_w3layouts_banner_info p {
    width: 90%;
	margin: 20px auto;
}
.agileits_w3layouts_banner_info {
    margin: 7em 0 0;
}
.banner {
    min-height: 360px;
}
.news-letter input[type="text"], .news-letter input[type="email"] {
    width: 37%;
}
.nav-tabs {
    width: 100%;
}
}	
@media (max-width: 480px){
.navbar-brand {
    font-size: 0.9em;
}
.navbar-left {
    width: 77%;
}
.banner1 {
    min-height: 180px;
}
.header_left ul li span {
    margin-right: 0px;
}
.header_left ul li {
    padding: 0px 4px 0px 0;
}
.header {
    padding: 0.5em 0.5em;
}
.agileits-w3layouts-copyright p {
    line-height: 1.8em;
}
.ih-item.circle {
    width: 200px;
    height: 200px;
}
.ih-item.circle .img {
    width: 200px;
    height: 200px;
}
.agileits_w3layouts_banner_info h3 {
    font-size: 1.4em;
}
.agileits_w3layouts_banner_info p {
    line-height: 24px;
    width: 82%;
    font-size: 14px;
}
.agileits_w3layouts_banner_info_pos ul li {
    padding: 0 3em 0 0;
}
.agileits_w3layouts_banner_info {
    margin: 6em 0 0;
}
.agileits_w3layouts_banner_info_pos {
    margin-top: 2em;
}
.banner {
    min-height: 310px;
}
.about-grid2-right {
    float: right;
    width: 78%;
}
.about-grid1-pos {
    top: -6%;
}
.about-grid1-pos1 {
    top: -6%;
}
.news-letter input[type="text"], .news-letter input[type="email"] {
    width: 35%;
}
.w3agile_tab_right1 {
    padding: 0;
}
}
@media (max-width: 414px){
.footer-grid {
    width: 100%;
    margin-bottom: 2em;
}
.team-grids {
    float: left;
    width: 100%;
    margin-top: 2em;
}
.team-grids:nth-child(1) {
    margin-top: 0em;
}
.ih-item.circle {
    width: 220px;
    height: 220px;
}
.ih-item.circle .img {
    width: 220px;
    height: 220px;
}
.services-bottom-icon {
    width: 15%;
}
.agileits_w3layouts_banner_info h3 {
    line-height: 26px;
}
.agileits_w3layouts_banner_info p {
    width: 81%;
    font-size: 13px;
	margin: 7px auto 0;
}
.agileits_w3layouts_banner_info_pos ul li {
    font-size: 13px;
}
.agileits_w3layouts_banner_info_pos ul li label {
    top: 8px;
    width: 30px;
    margin-left: 3px;
}
.agileits_w3layouts_banner_info {
    margin: 4em 0 0;
}
.banner {
    min-height: 300px;
}
.w3_banner_bottom_icons_left {
    width: 80%;
}
.w3_banner_bottom_icons1 {
    width: 100%;
}
.w3layouts_register_left h3 {
    font-size: 2em;
}
.about-grid1-pos {
    left: 20%;
	top:-5%;
}
.about-grid1 {
    padding: 13em 1em 2em 2em;
}
.about-grid2-right {
    float: right;
    width: 76%;
}
.about-grid1-pos1 {
    top: -5%;
	left: 20%;
}
.about-grid1.about-grd1 {
    padding: 13em 1em 2em 2em;
}
.about-grids:nth-child(3) {
    margin: 2em 0 0em;
}
.news-letter input[type="text"], .news-letter input[type="email"] {
    width: 100%;
    margin-bottom: 2%;
	margin-right:0;
}
.nav-tabs > li > a {
    margin-right: .1em;
}
}
@media (max-width: 384px){
.navbar-brand {
    letter-spacing: 0px;
    line-height: 33px;
    height: 33px;
}
.agileits_services_grid h3 {
    font-size: 1.4em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    top: 3em;
}
.agileits_w3layouts_banner_info_pos ul li {
    padding: 0 2em 0 0;
}
.agileits_w3layouts_banner_info_pos ul li label {
    width: 23px;
}
.about-grid2-right {
    width: 75%;
}
.about-grid1-pos1 {
    left: 18%;
}
.about-grid1-pos {
    left: 18%;
}
.modal-header {
    font-size: 1.6em;
}
}
@media (max-width: 375px){
.about-grid2-right {
    width: 74%;
}
.nav-tabs > li > a {
    margin-right: .0em;
}
}
@media (max-width: 320px){
.agileinfo-social-grids ul li a i.fa.fa-twitter {
    margin: 0 0.1em;
}
.agileinfo-social-grids ul li a i.fa.fa-rss {
    margin: 0 0em 0 0;
}
.navbar-left {
    width: 78%;
}
.navbar-brand {
    font-size: 0.65em;
}
.navbar-toggle {
    padding: 8px 8px;
}
.agileinfo-social-grids ul li:nth-child(2) {
    margin: 0.3em 0;
}
.header {
    padding: 0em 0.2em;
}
.banner1 {
    min-height: 140px;
}
.contact {
    padding: 2em 0;
}
.w3ls_head {
    margin-bottom: 25px;
    font-size: 30px;
	padding-bottom: .6em;
}
.contact-right {
    padding: 0;
}
.contact-left {
    margin-top: 2em;
    padding: 0;
}
.agileits-w3layouts-map iframe {
    min-height: 220px;
}
.w3-agile-footer {
    padding: 2em 0;
}
.footer-grid-heading h4 {
    font-size: 1.5em;
}
.footer-grid {
    margin-bottom: 1em;
    padding: 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding:2em 0;
}
.banner-bottom {
    padding: 2em 0;
}
.agileits_services_grid {
    padding: 0;
}
.about-top {
    padding: 2em 0;
}
.wthree-services-left {
    padding: 0;
}
.wthree-services-right {
    margin-top: 2em;
    padding: 0;
}
.wthree-services-right-top h4 {
    font-size: 1.1em;
    line-height: 1.2em;
}
.services-bottom-icon {
    width: 18%;
}
.services-bottom-info p {
    margin: 0.5em 0 0 0;
}
.advantages-main {
    padding: 2em 0;
}
.advantage-grid {
    padding: 0;
}
.advantage-block {
    padding: 2em 1em;
}
.team {
    padding: 2em 0;
}
.agileits_w3layouts_banner_info {
    margin: 3em 0 0;
}
.agileits_w3layouts_banner_info_pos ul li {
    padding: 0 1em 0 0;
}
.agileits_w3layouts_banner_info_pos ul li label {
    width: 12px;
}
.agileits_w3layouts_banner_info_pos {
    margin-top: 1em;
}
.banner {
    min-height: 275px;
}
.agileits_w3layouts_banner_info p {
    width: 100%;
}
.banner-bottom-icons {
    padding: 2em 0;
}
.w3_banner_bottom_icons1_effect {
    padding: 0.5em;
}
.register {
    padding: 2em 0;
}
.w3layouts_register_right form {
    padding: 1em;
}
.w3layouts_register_right {
    padding: 0;
}
.w3layouts_register_left {
    margin: 2em 0 0;
	padding: 0;
}
.about {
    padding: 2em 0;
}
.about-grid {
    padding: 0;
}
.about-grid1-pos {
    left: 14%;
    top: -2%;
}
.about-grid2-left {
    width: 57px;
	padding:0.7em;
}
.about-grid2-right {
    width: 79%;
    padding-right: 0;
}
.about-grid2 {
    margin: 2em 0 0;
}
.about-grid1-pos1 {
    left: 14%;
}
.news-letter {
    padding: 2em 0;
}
.welcome {
    padding: 2em 0;
}
.welcome-tabs {
    margin: 2em 0 0;
}
.w3agile_tab_left h4 {
    font-size: 1.5em;
}
.modal-header {
    font-size: 1.4em;
    letter-spacing: 1px;
}
}